<div class="otp-container">
    <div class="otp-card">
        <div class="control">
            <h3>Enter 6 digit otp</h3>
        </div>
        <div class="control">
            <p-inputotp [(ngModel)]="otp" [mask]="true" [length]="6"/>
        </div>
        <div class="control">
            {{time}}s
        </div>
        <div class="control">
            <p-button label="Verify" [disabled]="!otp || otp.length<6 || time === 0" (onClick)="submitOtp()"></p-button>
        </div>
        <div *ngIf="time===0" class="control">
            <p-button label="Resend Otp" variant="outlined" severity="warn" (onClick)="resendOtp()"></p-button>
        </div>
    </div>
</div>

