<div>
    <div>
        <app-filter-options [currDate]="currDate" [categories]="categories" (addEvent)="openDialogue('add')" (filterEvent)="takeFilters($event)" (dateEvent)="selectDate($event)"></app-filter-options>
    </div>
    <div>
        <p-dialog [header]="dialogLabel" [modal]="true" [(visible)]="isDialogVisible" [style]="{ width: '25rem' }">
            <ng-container loadDynamicComponent></ng-container>
        </p-dialog>
        
        <p-toast />
        <p-confirmdialog />
        <app-generic-table [columns]="columns" [inputData]="investmentList" (selectActionEvent)="selectEvent($event)"></app-generic-table>
        
        
    </div>
</div>