<div *ngIf="isDataLoaded else loader">
    <div>
        <app-filter-options [currDate]="currDate" [categories]="categories" (addEvent)="openDialogue('add')" (filterEvent)="takeFilters($event)" (dateEvent)="selectDate($event)" (searchEvent)="takeSearch($event)"></app-filter-options>
    </div>
    <div>
        <p-dialog [header]="dialogLabel" [modal]="true" [(visible)]="isDialogVisible" [style]="{ width: '40rem' }">
            <ng-container loadDynamicComponent></ng-container>
        </p-dialog>
        
        <p-toast />
        <p-confirmdialog />
        <ng-container *ngIf="investmentList.length>0 else noRecord">
            <app-generic-table [columns]="columns" [inputData]="investmentList" (selectActionEvent)="selectEvent($event)"></app-generic-table>
        </ng-container>
        <ng-template #noRecord>
            <app-no-record [record]="'Investment'" (addEvent)="openDialogue('add')"></app-no-record>
        </ng-template>
        
    </div>
</div>
<ng-template #loader>
    <div style="display: flex; flex-direction: row; justify-content: center; width: 100%; height: 100%;">
        <p-progress-spinner ariaLabel="loading" />
    </div>
</ng-template>