<div class="main">
    <div>
        <app-filter-options [categories]="categories" (addEvent)="openDialogue('add')" (filterEvent)="takeFilters($event)" (dateEvent)="selectDate($event)"></app-filter-options>
    </div>
    <div>
        <!-- <button (click)="loadModal()">Add Budget</button>
        <app-date-picker (dateEvent)="selectDate($event)"></app-date-picker>

        <p-dialog header="Add Budget" [modal]="true" [(visible)]="isAddOpen" [style]="{ width: '25rem' }">
            <ng-container loadDynamicComponent></ng-container>
        </p-dialog> -->

        <!-- <div>
            <button (click)="openDialogue('add')">Add Budget</button>
            <app-date-picker  (dateEvent)="selectDate($event)"></app-date-picker>
        </div> -->


            <!-- <div style="z-index: 1000; width: auto; left: 40%; right: 40%; position: absolute;">
                
            </div> -->

        <p-dialog [header]="dialogLabel" [modal]="true" [(visible)]="isDialogVisible" [style]="{ width: '25rem' }">
            <ng-container loadDynamicComponent></ng-container>
        </p-dialog>

        
        <p-toast />
        <p-confirmdialog />
        <div *ngIf="isLoaded" class="list-container">
            <ng-container *ngFor="let budget of budgetList">
                <ng-container *ngFor="let spending of totalSpendingOfCategory">
                    <ng-container *ngIf="budget.category === spending.category">
                        <div>
                            <p-card [header]="budget.category">
                                <div class="list-card">
                                    <div style="width: 90%;">
                                        <p class="m-0" style="width: 100%;">
                                            <p-progressbar [ngClass]="'customProgress'" [value]="(spending.totalSpending/budget.amount)*100">
                                                <ng-template #content let-value>
                                                    <span>{{spending.totalSpending}}</span>
                                                </ng-template>
                                            </p-progressbar>
                                            
                                            Budget: {{budget.amount}} <br>
                                            Spent Amount: {{spending.totalSpending}}
                                        </p>
                                        <!-- <div class="bg-orange-500 h-full" style="width: 50%; background-color: orange; height: 100%;"></div> -->
                                    </div>
                                    <div>
                                        <app-item-options [id]="budget.id" (selectOption)="selectEvent($event)"></app-item-options>
                                    </div>
                                </div>
                            </p-card>
                        </div>
                        <!-- <div class="card" style="margin-left: 25%; margin-right: 25%;">
                            
                        </div> -->
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>