<div class="main">
    <!-- <div>
        <button (click)="openDialogue('add')">Add Income</button>
        <app-date-picker  (dateEvent)="selectDate($event)"></app-date-picker>
    </div> -->
    <div>
        <app-filter-options [currDate]="currDate" [categories]="categories" (addEvent)="openDialogue('add')" (filterEvent)="takeFilters($event)" (dateEvent)="selectDate($event)"></app-filter-options>
    </div>
    
    <div>
        <p-dialog [header]="dialogLabel" [modal]="true" [(visible)]="isDialogVisible" [style]="{ width: '25rem' }">
            <ng-container loadDynamicComponent></ng-container>
        </p-dialog>
        <p-toast />
        <p-confirmdialog />
        <app-generic-table [columns]="columns" [inputData]="incomeList" (selectActionEvent)="selectEvent($event)"></app-generic-table>
    
    </div>    
    

</div>