.filter-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
}

.filter-options{
    display: flex;
    flex-direction: row-reverse;
}