<div class="main">
    <!-- <p>list-expenses works!</p> -->
    <div>
        <!-- <button (click)="openDialogue('add')">Add expense</button> -->
        <!-- <app-date-picker  ></app-date-picker> -->
        <app-filter-options [categories]="categories" (addEvent)="openDialogue('add')" (filterEvent)="takeFilters($event)" (dateEvent)="selectDate($event)"></app-filter-options>
    </div>


        <!-- <div style="z-index: 1000; width: auto; left: 40%; right: 40%; position: absolute;">
            
        </div> -->

    <div>
        <p-dialog [header]="dialogLabel" [modal]="true" [(visible)]="isDialogVisible" [style]="{ width: '25rem' }">
            <ng-container loadDynamicComponent></ng-container>
        </p-dialog>
    
            <!-- <app-generic-edit [id]="editId" [header]="'Edit component'" [visible]="isEditOpen"></app-generic-edit> -->
    
        <p-toast />
        <p-confirmdialog />
        <app-generic-table [columns]="columns" (selectActionEvent)="selectEvent($event)" [inputData]="expenseList"></app-generic-table>
</div>