<!-- <p>list-expenses works!</p> -->
<div>
    <button (click)="loadAddComponent()">Add expense</button>
    <app-date-picker  (dateEvent)="selectDate($event)"></app-date-picker>
</div>


    <!-- <div style="z-index: 1000; width: auto; left: 40%; right: 40%; position: absolute;">
        
    </div> -->

    <p-dialog header="Add Expense" [modal]="true" [(visible)]="isAddOpen" [style]="{ width: '25rem' }">
        <ng-container loadDynamicComponent></ng-container>
    </p-dialog>


<div class="list-container">
    <ng-container *ngFor="let expense of expenseList"> 
        <div>
            <p-card [header]="expense.name">
                
                <div class="list-card">
                    <div>
                        <p class="m-0">
                            Category: {{expense.category}} <br>
                            Amount: {{expense.amount}} <br>
                            Date: {{expense.date | date:'fullDate'}}
                        </p>
                    </div>

                    <div>
                        <app-item-options [id]="expense.id"  (selectOption)="selectEvent($event)"></app-item-options>
                    </div>
               </div>
                    
            </p-card>
        </div>
    </ng-container>
</div>
