<p-dialog [(visible)]="isOtpVisible" [modal]="true" [style]="{ width: '25rem' }">

  <app-otp-verification (otpResendEvent)="onOtpResend()" (otpVerifyEvent)="onOtpSubmit($event)"></app-otp-verification>
</p-dialog>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <!-- <label for="username">Username: </label>
    <input type="text" formControlName="username">
    <br>
    <label for="email">Email: </label>
    <input type="email" formControlName="email">
    <br>
    <label for="password">Password: </label>
    <input type="password" formControlName="password">

    <br>
    <button type="submit">Register</button> -->

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <div class="error-message" *ngIf="registerForm.invalid">
            <span *ngIf="registerForm.get('username')?.dirty && registerForm.get('username')?.errors?.['required']">Username is required</span>
            <span *ngIf="registerForm.get('username')?.dirty  && registerForm.get('username')?.errors?.['pattern']">Username should not have Whitespaces</span>
        </div>
        <input type="text" placeholder="Enter Username" formControlName="username">

        <label for="email"><b>Email</b></label>
        <div class="error-message" *ngIf="registerForm.invalid">
            <small *ngIf="registerForm.get('email')?.dirty && registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">Email is required</small>
            <small *ngIf="registerForm.get('email')?.dirty && registerForm.get('email')?.errors?.['email']">Please enter valid Email address</small>
          </div>
        <input type="text" placeholder="Enter Email" formControlName="email">
    
        <label for="psw"><b>Password</b></label>
        <div class="error-message" *ngIf="registerForm.invalid">
            <small *ngIf="registerForm.get('password')?.dirty && registerForm.get('password')?.errors?.['required']">Password is required</small>
            <small *ngIf="registerForm.get('password')?.dirty && registerForm.get('password')?.errors?.['minlength']">Password should be atleast 6 length</small> <br>
            <small *ngIf="registerForm.get('password')?.dirty && registerForm.get('password')?.errors?.['pattern']">Password should not have whitespaces</small>
          </div>
        <input type="password" placeholder="Enter Password" formControlName="password">
    
        <button type="submit">Register</button>
        <!-- <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label> -->
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
        Already a user? <a routerLink="/login">Login</a>
    </div>
</form>
