<div class="main">
    <div class="date-container">
        <div>
            <app-date-picker [currDate]="currDate" (dateEvent)="selectDate($event)"></app-date-picker>
        </div>
    </div>

    <div class="dashboard-container">
        <div class="card-container">
            <div>
                <p-card *ngIf="isDataLoaded">
                    <ng-template #title>Total Expense</ng-template>
                    <p>{{totalExpense | currency:'INR'}}</p>

                </p-card>
                <p-skeleton *ngIf="!isDataLoaded" size="7rem" />
            </div>
            <div>
                <p-card *ngIf="isDataLoaded">
                    <ng-template #title>Total Income</ng-template>
                    <p>{{totalIncome | currency:'INR'}}</p>
                </p-card>
                <p-skeleton *ngIf="!isDataLoaded" size="7rem" />
            </div>
            <div>
                <p-card *ngIf="isDataLoaded">
                    <ng-template #title>Total Budget</ng-template>
                    <p>{{totalBudget | currency:'INR'}}</p>
                </p-card>
                <p-skeleton *ngIf="!isDataLoaded" size="7rem" />
            </div>
            <div>
                <p-card *ngIf="isDataLoaded">
                    <ng-template #title>Total Investment</ng-template>
                    <p>{{totalInvestment | currency:'INR'}}</p>
                </p-card>
                <p-skeleton *ngIf="!isDataLoaded" size="7rem" />
            </div>
        </div>
        
        <div class="display-container">
            <div class="transaction-table" style="width: 55%;">
                <!-- Create generic table component -->
                <div class="card">
                    <p-table [paginator]="true" [rows]="5" stripedRows [value]="transactions" [tableStyle]="{ 'min-width': '30rem' }">
                        <ng-template #caption>
                            <div class="flex items-center justify-between">
                                <span class="text-xl font-bold">Recent Tranasactions</span>
                            </div>
                        </ng-template>
                        <ng-template #header>
                            <tr>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Category</th>
                                <th>Amount</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-transaction>
                            <tr *ngIf="isTransactionsLoaded">
                                <td>{{ transaction.date | date}}</td>
                                <td>{{ transaction.name }}</td>
                                <td>{{ transaction.type }}</td>
                                <td>{{ transaction.category }}</td>
                                <td>
                                    <p-badge [value]="transaction.amount" [severity]="transaction.type ==='Expense'?'danger':transaction.type==='Income'?'success':'warn'" />
                                </td>
                            </tr>
                            <tr *ngIf="!isTransactionsLoaded">
                                <td><p-skeleton /></td>
                                <td><p-skeleton /></td>
                                <td><p-skeleton /></td>
                                <td><p-skeleton /></td>
                                <td><p-skeleton /></td>
                            </tr>
                        </ng-template>
                        <!-- <ng-template *ngIf="isTransactionsLoaded" #footer> In total there are {{ transactions ? transactions.length : 0 }} transactions. </ng-template> -->
                    </p-table>
                </div>
            </div>
            <div class="charts-container" style="width: 45%;">
                <div class="charts-with-option">
                    <div class="options">
                        <div>
                            <p-button icon="pi pi-arrow-up-right" (onClick)="navigateTo()" label="See more" variant="outlined" severity="info"></p-button>
                        </div>
                    </div>
                    <div>
                        <p-carousel *ngIf="isChartsLoaded; else loader" [value]="charts" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3500">
                            <ng-template pTemplate="item" let-chart>
                                <div style="width: 90%; margin-top: 5%; height: 20%;">
        
                                    <app-generic-chart 
                                        [data]="chart.data" 
                                        [chartType]="chart.chartType" 
                                        [legend]="true" 
                                        [labels]="chart.labels">
                                    </app-generic-chart>
                                </div>
        
        
                            </ng-template>
                        </p-carousel>
                        <ng-template #loader>
                            <p-skeleton size="100%" />
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
