<p-dialog [modal]="true" [(visible)]="isForgotWindowVisible" [style]="{ width: '25rem' }">
  <app-forgot-password (closeEvent)="forgotPasswordWindow()"></app-forgot-password>
</p-dialog>

<div style="display: flex; flex-direction: row; justify-content: center;">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
        <span class="text-600 font-medium line-height-3">Don't have an account?</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/signup">Create today!</a>
    </div>
  
    <div>
  
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label for="email1" class="block text-900 font-medium mb-2">Email</label>
        <div class="error-message" *ngIf="!loginForm.valid">
          <small *ngIf="loginForm.get('email')?.dirty && loginForm.get('email')?.errors?.['required']">Email is required</small>
          <small *ngIf="loginForm.get('email')?.dirty && loginForm.get('email')?.errors?.['email']">Please enter valid Email address</small>
        </div>
        <input id="email1" type="text" formControlName="email" placeholder="Email address" pInputText class="w-full mb-3">
  
        <label for="password1" class="block text-900 font-medium mb-2">Password</label>
        <div class="error-message" *ngIf="!loginForm.valid">
          <small *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.errors?.['required']">Password is required</small>
          <small *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.errors?.['minlength']">Password should be atleast 6 length</small> <br>
          <small *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.errors?.['pattern']">Password should not have whitespaces</small>
        </div>
        <input id="password1" type="password" formControlName="password" placeholder="Password" pInputText class="w-full mb-3">

        <div class="flex align-items-center justify-content-between mb-6">
          <div class="flex align-items-center">
          </div>
          <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer" (click)="forgotPasswordWindow()">Forgot password?</a>
      </div>
  
        <button pButton pRipple label="Log In" type="submit" icon="pi pi-user" class="w-full"></button>
      </form>
    </div>
  </div>
</div>
