.reports-container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5%;
}

.report{
    display: flex;
    flex-direction: column;
    min-width: 40%;
    height: 10%;
}

.chart-container{
    height: 100px;
}

.filter-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20%;
}